:root {
    --orange: #FF6600;
    --dark: #172139;
    --gray: #A5A5A5;
    --light-gray: #e0e0e0;
    --font-gen: 'Roboto', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px 0 15px;
    margin-bottom: 30px;
    background-color: white;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 420px;
    width: 290px;
    margin: 0;
    font-family: var(--font-gen);
    user-select: none;
    background-color: white;
}
aside nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 100%;
}
aside nav a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 62px;
    padding: 20px 15px;
    border: 1px var(--light-gray) solid;
}
aside nav a img {
    padding-right: 15px;
    margin: 0;
}
aside nav a.settings {
    background: var(--dark);
    color: white;
}
aside button {
    background: none;
    color: var(--orange);
    border: 0;
    width: 250px;
    height: 50px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
aside button img {
    margin-right: 15px;
}

section.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 30px 0 30px;
}
section.content h1:first-child {
    font-family: var(--font-gen);
    font-size: 26px;
    margin: 0 0 25px 0;
}
section.content h1 {
    font-family: var(--font-gen);
    font-size: 26px;
}
section.content div.locations-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    gap: 15px;
}
section.content div.locations-menu button {
    background: white;
    color: black;
    height: 40px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: bold;
    cursor: pointer;
}
section.content div.locations-menu button.locations-btn {
    background: var(--dark);
    color: white;
}

section.content > button {
    background: var(--dark);
    color: white;
    border: 0;
    width: 300px;
    height: 50px;
    font-size: 15px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

table tr {
    height: 60px;
}
table tr:nth-child(even) {
    background-color: white;
}
table th {
    font-weight: normal;
    text-align: left;
}
table td {
    width: 100px;
    align-content: left;
    margin: auto 0px;
    border: none;
    border-collapse: collapse;
}
table td img {
    vertical-align: middle;
    cursor: pointer;
}
table td:nth-child(1) {
    width: 250px;
}
table td:nth-child(1) img {
    padding: 0 15px;
}
table td:nth-child(3) input {
    border: var(--light-gray) 1px solid;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
}
table td:nth-child(5)  {
    width: 150px;
}
table input[type="checkbox"] {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid var(--orange);
    border-radius: 3px;
    cursor: pointer;
}
table input[type="checkbox"]:checked {
    background: url(../img/check.png);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 80px;
    background-color: white;
}
footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 400px;
    color: var(--gray);
    font-size: 13px;
    margin-left: 300px;
}
footer div button:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--dark);
    color: white;
    height: 40px;
    width: 200px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
footer div button:nth-child(2) {
    background: white;
    color: black;
    height: 40px;
    width: 140px;
    border: 1px black solid;
    border-radius: 5px;
    font-weight: bold;
    width: 45%;
    cursor: pointer;
}
footer a {
    color: #FF6600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}